<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/madlibs.css">
    <title>GAME</title>
</head>
<body>

    <form action="/madlib">
        <div class="box">
            Choose a person:
                <select name="person">
                    <option value="koolaid">Koolaid Man</option>
                    <option value="trump">Donald Trump</option>
                    <option value="katyperry">Katy Perry</option>
                    <option value="mariah">Mariah Carey</option>
                </select>
        </div>    

        <div>
            Choose a color:
            <input type="text" name="color">
        </div>

        <div>
            Choose a noun:
            <input type="text" name="noun">
        </div>

        <div>
            Choose an adjective:
            <input type="text" name="adjective">
        </div>

        <div>
            MORE ADJECTIVES:
                <input type="checkbox" name="box" value="boorish">boorish
                <input type="checkbox" name="box" value="nefarious">nefarious
                <input type="checkbox" name="box" value="parsimonious">parsimonious
                <input type="checkbox" name="box" value="turgid">turgid
        </div>

        <input type="submit">
    <form>

</body>
</html>
